* {
    box-sizing: border-box;
}

body {
    background: url(../images/bg-body.png);
    font-family: Arial, Helvetica, sans-serif;
}

.banner img {
    width: 100%;
    margin-top: 15px;
    display: none;
    }

.logo {
    border-radius: 180px;
}

.container {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.main-nav ul {
    padding: 0;
    margin-top: 30px;
}

.main-nav ul li {
    display: inline-block;
}

.main-nav ul li:last-child {
    margin-right: 0px;
}


.main-nav ul li a {
    height: 50px;
    width: 400px;
    display: inline-block;
    background-color: #777;
    text-transform: uppercase;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    padding-top: 15px;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 10px;
}

.main-nav ul li a:hover {
    transform: translateY(-5px);
}

.vip-products {
    margin-top: 30px;
}

.product {
    width: 400px;
    display: inline-block;
    text-align: left;
    margin-left: 0px;
    margin-bottom: 30px;
}

.photo {
    width: 100%;
    z-index: 50;
}

.photo-container {
    position: relative;
}

.special {
    position: absolute;
    right: 10px;
    top: 0px;
}

.zoom {
    position: relative;
    bottom: 110px;
    z-index: 100;
    text-align: center;
    display: block;
    background-color: black;
    opacity: 0.5;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    height: 35px;
    padding-top: 9px;
}

.more {
    text-decoration: none;
    color: white;
    background-color: gray;
    display: inline-block;
    width: 80px;
    height: 35px;
    text-align: center;
    padding-top: 8px;
}

.main-footer ul {
    margin: 0px;
    padding: 0px;
}

.main-footer ul li {    
    display: block;
}

.main-footer ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    border-radius: 2px;
    background-color: #c30000;
    width: 400px;
    height: 50px;
    display: inline-block;
    padding-top: 16px;
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out;
}

.main-footer ul li a:hover {
    transform: translateY(-5px);
}

@media (min-width: 426px) {
    .banner img {
        width: 100%;
        margin-top: 15px;
        display: inline-block;
        }

    .container {
        text-align: center;
        max-width: 80%;
        margin: 0 auto;
    }

    .main-nav ul li a {
        height: 50px;
        width: 16%;
        margin-right: 5px;
        display: inline-block;
        background-color: #777;
        text-transform: uppercase;
        font-size: 10px;
        border-radius: 2px;
        text-decoration: none;
        color: white;
        padding-top: 15px;
        transition: transform 0.2s ease-in-out;
        margin-bottom: 10px;
    }

    .product {
        width: 40%;
        margin-right: 5%;
    }
    
}

@media (min-width: 1025px) {
    * {
        box-sizing: border-box;
    }
    
    body {
        background: url(../images/bg-body.png);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .banner img {
        width: 100%;
        margin-top: 15px;
        }
    
    .logo {
        border-radius: 180px;
    }
    
    .container {
        text-align: center;
        max-width: 1180px;
        margin: 0 auto;
    }
    
    .main-nav ul {
        padding: 0;
        margin-top: 30px;
    }
    
    .main-nav ul li {
        display: inline-block;
        margin-right: 20px;
    }
    
    .main-nav ul li:last-child {
        margin-right: 0px;
    }
    
    
    .main-nav ul li a {
        height: 50px;
        width: 180px;
        display: inline-block;
        background-color: #777;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        padding-top: 15px;
        transition: transform 0.2s ease-in-out;
    }
    
    .main-nav ul li a:hover {
        transform: translateY(-5px);
    }
    
    .vip-products {
        margin-top: 30px;
    }
    
    .product {
        width: 380px;
        display: inline-block;
        text-align: left;
        margin-left: 0px;
        margin-bottom: 30px;
        margin-right: 10px;
    }
    
    .photo {
        width: 100%;
        z-index: 50;
    }
    
    .photo-container {
        position: relative;
    }
    
    .special {
        position: absolute;
        right: 10px;
        top: 0px;
    }
    
    .zoom {
        position: relative;
        bottom: 110px;
        z-index: 100;
        text-align: center;
        display: block;
        background-color: black;
        opacity: 0.5;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        height: 35px;
        padding-top: 9px;
    }
    
    .more {
        text-decoration: none;
        color: white;
        background-color: gray;
        display: inline-block;
        width: 80px;
        height: 35px;
        text-align: center;
        padding-top: 8px;
    }
    
    .main-footer {
        background-color: #c30000;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        height: 100px;
    }
    
    .main-footer ul li {    
        display: inline-block;
        padding-top: 40px;
        margin-right: 15px;
    }
    
    .main-footer ul li a {
        text-decoration: none;
        text-transform: capitalize;
        text-decoration: none;
        color: white;
    }
}